<!DOCTYPE html>
<html lang="en" dir="ltr">
  <%- include('../partials/head'); -%>
  <body>

    <%- include('../partials/menu'); -%>

    <main class="container-fluid mt-3">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2>Hi, <%= user %>!</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <!-- Button -->
          <a href="/newPost" class="btn blue-grey darken-4 text-default">Make Post</a>
        </div>
      </div>
      <div class="row my-2">
        <div class="col-md-12">
          <!-- Search form -->
          <form class="form-inline d-flex justify-content-center">
            <i class="fas fa-search" aria-hidden="true"></i>
            <input class="form-control form-control-sm ml-3 w-75 SearchBorderColor" type="text" placeholder="Search....." aria-label="Search">
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mb-3">
          <!-- Post -->
          <div class="row my-3">
            <div class="col-md-12">
              <!-- Card -->
              <div class="card">
                <!-- Card-header -->
                <div class="card-header">
                  <!-- Title -->
                  <h4 class="card-title"><%= Title %></h4>
                </div>
                <!-- Card-body -->
                <div class="card-body">
                  <div class="media d-block d-md-flex mt-4">
                    <div class="media-body text-center text-md-left ml-md-3 ml-0">
                        <h5 class="mt-0 font-weight-bold"><%= UserName %></h5>
                        <p class="text-primary"><%= date %></p>
                        <!-- Message -->
                        <p class="card-text"><%= Message %></p>
                    </div>
                  </div>
                </div>
                <div class="card-footer text-right">
                  <!-- Button -->
                  <a class="btn blue-grey darken-4 text-default m-0"><i class="fas fa-reply"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>


    <%- include('../partials/footer'); -%>

    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.6.1/js/mdb.min.js"></script>
    <!-- My SCRIPTS -->


  </body>
</html>
